{% extends "base.html" %}

{% block content %}
<div class="media alert alert-info">
  <div class="row col-md-offset-3">
    <div class="col-md-4 col-xs-6">
      {% if image_url %}
        <img class="image-object img-responsive" src="{{image_url}}">
      {% endif %}
    </div>
    <div class="col-md-5 col-xs-6">
      {% if predictions %}
        <h4 class="media-heading">{{msg}}</h4>
        {% for prediction in predictions %}
          {{prediction.description}} <b>{{'%0.2f' % prediction.probability}}%</b><br/>
        {% endfor %}
        </ul>
      {% endif %}
      <input type="button" class="btn btn-info" style="margin-top: 5px;" value="Retry" onclick="location.href='/'">
    </div>
  </div>
</div>
{% endblock %}





